### Análise de Dados referente ao Teste Prático do Módulo 2 do Bootcamp de Engenharia de Machine Learning do IGTI

Esta atividade tem como objetivo analisar os dados coletados de compartilhamento de bicicletas em uma cidade, coletados pela Universidade do Porto.

**‒ rec_id:** índice do registro de locação.

**‒ datetime:** data.

**‒ season:** estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte.

**‒ year:** ano (0: 2011, 1:2012).

**‒ month:** mês (1 a 12).

**‒ hour:** hora do dia (0 a 23).

**‒ is_holiday:** booleano indicando feriado.

**‒ weekday:** dia da semana (0: domingo, 1: segunda-feira, …, 6: sábado).

**‒ is_workingday:** booleano indicando dia útil.

**‒ weather_condition:** (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte).

**‒ temp:** temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39.

**‒ atemp:** sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50.

**‒ humidity:** umidade relativa (0 a 1).

**‒ windspeed:** velocidade do vento escalada entre 0 e 1 (máximo original: 67).

**‒ casual:** número de locações para usuários casuais.

**‒ registered:** número de locações para usuários registrados.

**‒ total_count:** contador total de aluguéis (casual+registered).

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [3]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

a. Qual o tamanho desse dataset?

In [4]:
df.shape

(17379, 17)

b. Qual a média da coluna windspeed? R:0.190098

c. Qual a média da coluna temp? R: 0.496987

In [5]:
df.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [8]:
df.isnull().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

d. Quantos registros existem para o ano de 2011? R: 8645

e. Quantos registros existem para o ano de 2012? R: 8734

In [12]:
df['year'] =  pd.DatetimeIndex(df['datetime']).year

In [14]:
df['year'].value_counts()

2012    8734
2011    8645
Name: year, dtype: int64

f. Quantas locações de bicicletas foram efetuadas em 2011? R: 1.243.103

In [44]:
df[df.year == 2011].total_count.sum()

1243103

g. Quantas locações de bicicletas foram efetuadas em 2012? R: 2.049.576

In [45]:
df[df.year == 2012].total_count.sum()

2049576

h. Qual estação do ano contém a maior média de locações de bicicletas? R:3

i. Qual estação do ano contém a menor média de locações de bicicletas? R:1

In [27]:
df.groupby(['season']).total_count.mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

j. Qual horário do dia contém a maior média de locações de bicicletas? R: 17h

k. Qual horário do dia contém a menor média de locações de bicicletas? R: 4h

In [28]:
df.groupby(['hour']).total_count.mean().sort_values(ascending=False)

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

l. Que dia da semana contém a maior média de locações de bicicletas? R: Quinta

m. Que dia da semana contém a menor média de locações de bicicletas? R: Domingo

In [30]:
df.groupby(['weekday']).total_count.mean().sort_values(ascending=False)

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

n. Às quartas-feiras (weekday = 3), qual horário do dia contém a maior média
de locações de bicicletas? R: 17h

In [33]:
df_n = df[df.weekday==3].groupby(['hour']).total_count.mean().reset_index(name='Media')
df_n

    hour       Media
0      0   34.557692
1      1   15.336538
2      2    7.813725
3      3    4.888889
4      4    4.968750
5      5   25.750000
6      6  107.807692
7      7  303.980769
8      8  488.326923
9      9  238.528846
10    10  131.894231
11    11  152.201923
12    12  193.903846
13    13  185.826923
14    14  170.548077
15    15  181.288462
16    16  272.961538
17    17  513.144231
18    18  494.029126
19    19  357.504854
20    20  256.660194
21    21  194.669903
22    22  143.689320
23    23   83.737864

o. Aos sábados (weekday = 6), qual horário do dia contém a maior média de
locações de bicicletas? R: 13h

In [34]:
df_o = df[df.weekday==6].groupby(['hour']).total_count.mean().reset_index(name='Media')
df_o

    hour       Media
0      0   94.304762
1      1   67.780952
2      2   50.495238
3      3   22.885714
4      4    7.657143
5      5    8.291262
6      6   21.000000
7      7   45.961905
8      8  114.476190
9      9  186.790476
10    10  263.723810
11    11  328.609524
12    12  375.380952
13    13  385.371429
14    14  381.333333
15    15  382.428571
16    16  366.142857
17    17  334.409524
18    18  292.048077
19    19  239.932692
20    20  180.865385
21    21  156.000000
22    22  139.663462
23    23  115.855769